#root {
  height: 100%;
  width: 100%;
}

.app__container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.content__container {
  width: 100%;
  padding: 4rem;
  margin: 0 auto;
  overflow: auto;
}
