.calendar__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .calendar-items__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    padding: 0;
    // 7 calendar items per row, taking into account 2rem gaps
    max-width: 7 * 14rem + 6 * 2rem;

    .calendar-item__container {
      height: 20rem;
      min-height: 23rem;
      width: 14rem;
      border-radius: 8px;

      .calendar-item {
        position: relative;
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
        padding: 0.5rem 0.8rem;

        .calendar-item__day {
          position: absolute;
          top: 1rem;
          width: 85%;
          margin: 0;
          text-align: right;
        }

        .calendar-peek__container {
          position: absolute;
          left: 0;
          right: 0;
          list-style: none;
          padding: 0;
        }
      }
    }
  }
}

.calendar-modal__container {
  font-size: 1.6rem;
  padding: 2rem;

  .modal-header {
    border-bottom: 2px solid white;
  }

  .modal-expense__container {
    margin-top: 2rem;
    list-style: none;

    .modal-expense i {
      font-size: 1rem;
      margin-right: 1rem;
      vertical-align: middle;
    }
  }

  .modal-expense__add {
    margin-top: 1rem;
  }

  
  .expense-form {
    display: flex;
    margin: 3rem 0;
    
    input, .expense-form__submit {
      margin-left: 2rem;
    }
  }

  .modal-category__container {

    .category-default__container, .category-custom__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
      list-style: none;
      padding: 0;

      .category__container {
        min-width: 15rem;

        .category {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding: 10px;

          i {
            font-size: 1rem;
            margin-right: 8px;
          }
        }

        .category.active {
          border-color: white;
        }
      }
    }

    .category-custom__container {

      .category-form {
        display: flex;
        align-items: center;
        gap: 2rem;

        .category-form__name {
          width: 19rem;
        }

        label {
          display: flex;
          align-items: center;
          height: 100%;
        }

        .category-form__color {
          width: 9rem;
          margin-left: 0.5rem;
        }

        button {
          padding: 0;
          background: none;
          transition: color 0.25s;
          border: none;
        }

        button:focus {
          border: none;
          outline: none;
        }

        .category-form__submit:hover {
          color: #7272db;
        }

        .category-form__cancel:hover {
          color: #ad2d2d;
        }
      }
    }
  }
}